In [1]:

%matplotlib inline
from distutils.version import LooseVersion as Version
from sklearn import __version__ as sklearn_version

from IPython.display import display, Image

**Dealing with missing data**

In [2]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''


df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

**Solution Dealing with missing data**

In [3]:

df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

**Eliminating features with missing value**

In [4]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [5]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [6]:
# only drop rows where all columns are NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [7]:
# drop rows that have not at least 1 non-NaN values
df.dropna(thresh=1)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [8]:
# only drop rows where NaN appear in specific columns
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN